body {
  -webkit-font-smoothing: antialiased;
  color: #333;
  display: grid;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;
  grid-template-columns: 1fr 600px 1fr;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #b63252;
  text-decoration: none;
}

a:visited,
a:hover {
  color: #b63252;
}

.portfolio__name {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 500;
  margin: 0;
}

.container {
  display: grid;
  grid-column: 2;
  grid-row-gap: 20px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.portfolio__header {
  display: grid;
  grid-row-gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.portfolio__avatar {
  border-radius: 100%;
  justify-self: center;
  width: 120px;
}

.portfolio__contact {
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.portfolio__section {
  display: grid;
  grid-row-gap: 20px;
}

.portfolio__section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-weight: 500;
  margin: 0;
}

.portfolio__row {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.portfolio__project-title {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.portfolio__project-meta {
  font-size: 12px;
  margin-top: 10px;
}

.portfolio__project-description {
  font-size: 14px;
  line-height: 1.75;
}

.portfolio__project-description p:first-of-type {
  margin-top: 0;
}

@media (max-width: 480px) {
  body {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 20px;
  }

  .portfolio__row {
    grid-row-gap: 10px;
    grid-template-columns: 1fr;
  }
}
